@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.heading {
    color: #000000b7;
    font-family: "Libre Baskerville";
    white-space: pre-line;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.mainText {
    color: #333333;
    font-family:"Work Sans";
    font-size: 1.2rem;
    white-space: pre-line;
    max-width: 75ch;

    
}