@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.button {
    width: 300px;
    height: 55px;
    color: #333333;
    font-family:"Work Sans";
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
}

.dark_grey {
    background: #D8D8D8;
}

.light_grey {
    /* background: #E7E7E7; */
    background: #e7e7e783;
}

