.grid_container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
}



img {
  max-width: 25rem;
  height: auto;
}
.title_text {
  font-size: 1.7rem;
}

.price_text {
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
}

.text {
  color: #333333;
  font-family:"Work Sans";
  font-size: 1.2rem;
}

.positioning {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}