.section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 2rem;
      padding: 0px 50px 0px; 
      
    }

.img {
      /* width: 12rem;  */
      /* height: 27rem;  */
      /* height: auto; */
      width: 100%; /* fill box contairner */
      max-width: 22rem;
      min-width: 20rem;
      aspect-ratio: 11 / 16;
      object-fit: cover;
      border-radius: 5px; /* round corners of cards */
    
    }

  .text {
    min-width: 25rem;
  }